#header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 1.5rem;
}

#letters {
	display:flex;
	flex-direction:column;
}

#logo {
	object-fit:contain;
	cursor:pointer;
}

#logo:hover {
  opacity:0.5;
}

.lettercolor {
	color:#8B4000;
	display:inline;
}

#foundcolor {
	color:#26580f;
	display:inline;
}