#home {
  border-radius:20px;
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
}

#rules:hover {
  opacity:0.5;
  cursor:pointer;
}

#logo:hover {
  opacity:0.5;
}